.option {
    border-bottom: .1rem solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.option__text {
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    word-break: break-all;
}